<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.dao.supplier.DaGysdaMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.springboot.model.supplier.DaGysda">
        <id column="gysbh" property="gysbh" />
        <result column="gysmc" property="gysmc" />
        <result column="jdbh" property="jdbh" />
        <result column="gyslb" property="gyslb" />
        <result column="dqbh" property="dqbh" />
        <result column="jydz" property="jydz" />
        <result column="lxdh" property="lxdh" />
        <result column="qyxz" property="qyxz" />
        <result column="rklx" property="rklx" />
        <result column="ywzg" property="ywzg" />
        <result column="zgzw" property="zgzw" />
        <result column="zgdd" property="zgdd" />
        <result column="sfzh" property="sfzh" />
        <result column="scghsj" property="scghsj" />
        <result column="ssdq" property="ssdq" />
        <result column="yhzh" property="yhzh" />
        <result column="nshm" property="nshm" />
        <result column="khh" property="khh" />
        <result column="czhm" property="czhm" />
        <result column="yb" property="yb" />
        <result column="kpdz" property="kpdz" />
        <result column="zkl" property="zkl" />
        <result column="jjfs" property="jjfs" />
        <result column="tybz" property="tybz" />
        <result column="jpdm" property="jpdm" />
        <result column="bzxx" property="bzxx" />
        <result column="JP" property="jp" />
        <result column="fhqx" property="fhqx" />
    </resultMap>
    <resultMap id="BaseGysbhAndGysmcResultMap" type="com.springboot.model.supplier.DaGysdaJson">
        <id column="gysbh" property="gysbh" />
        <result column="gysmc" property="gysmc" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        gysbh, gysmc, jdbh, gyslb, dqbh, jydz, lxdh, qyxz, rklx, ywzg, zgzw, zgdd, sfzh, scghsj, ssdq, yhzh, nshm, khh, czhm, yb, kpdz, zkl, jjfs, tybz, jpdm, bzxx, JP, fhqx
    </sql>
    <select id="findByDaGysda" resultMap="BaseGysbhAndGysmcResultMap">
        SELECT gysbh,gysmc from da_gysda gysda
        <where>
            and gysda.tybz='1'
            <if test="yhbh!=null and yhbh!=''">and gysda.gysbh in ( SELECT gysbh FROM da_qx_gysda WHERE yhbh = #{yhbh} and bz3='1')</if>
        </where>
  </select>
</mapper>
